@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: var(--tipografiaGeneral);
}

/* Variables CSS */
:root {
  /* Tipografias */
  --tipografiaGeneral: 'Jost', Arial, sans-serif;
  /* Colores */
  --midnight-blue: #2c3e50; /* Para el fondo principal */
  --gunmetal: #2a2d34; /* Para el encabezado y el pie de página */
  --charcoal: #333333; /* Para las secciones y contenedores secundarios */
  --shadow-blue: #778899; /* Para botones y enlaces activos */
  --jet: #343a40; /* Para el texto principal */
  --iron: #d1d5db; /* Para el texto secundario */
  --crimson-red: #dc143c; /* Para acentos y elementos interactivos como botones y enlaces */
}

/* NavBar */
