@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap'); /* Tipografias */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: var(--tipografiaGeneral); /* Tipografias */
}

/* Variables CSS */
:root {
  /* Tipografias */
  --tipografiaGeneral: 'Jost', Arial, sans-serif;
  /* Colores */
  --TituloH1: #4682b4;
  --FondoBody: #2a2d34;
  --FondoModal: #000000bf;
  --Texto: #d3d3d3;
  --TextoLink: #5f9ea0;
  --Secciones1: #696969;
  --Secciones2: #708090;
  --Hover: #b22222;
}
/* --------------------------------------------------------------------------------------------------------------- */

/* ---CSS general--- */

/* ////////////////////////// */
body {
  background-color: var(--FondoBody);
  margin-top: 250px;
}
/* ////////////////////////// */

/* contenedor para slavarte la cabeza cuando tenes que centrar un puto div de mierda */
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ////////////////////////// */

/* Los titulos o H... */
.titulo {
  text-align: center;
  font-size: 1.9rem;
  color: var(--Texto);
  margin-top: 15px;
}
/* Responsividad 768px */
@media (max-width: 768px) {
  .titulo {
    font-size: 1.4rem;
  }
}
/* Responsividad 480px */
@media (max-width: 480px) {
  .titulo {
    font-size: 1rem;
  }
}

/* tituloH3 */
.tituloH3 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--Texto);
  margin-top: 15px;
}
/* Responsividad 768px */
@media (max-width: 768px) {
  .tituloH3 {
    font-size: 1.2rem;
  }
}
/* Responsividad 480px */
@media (max-width: 480px) {
  .tituloH3 {
    font-size: 1rem;
  }
}
/* ////////////////////////// */

/* Eliminar el estilo de lista predeterminado y otros estilos */
ul {
  list-style-type: none;
  padding-left: 10px;
  margin-bottom: -30px;
}
/* Estilo para los enlaces */
a {
  text-decoration: none;
  color: var(--TextoLink);
  transition: color 0.5s ease;
}
/* Efecto hover para los enlaces */
a:hover {
  color: var(--Hover);
}
/* ////////////////////////// */

/* Boton */
button {
  padding: 10px 15px;
  background-color: var(--Secciones2);
  color: var(--Texto);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: var(--Texto);
  color: var(--Hover);
}
/* Responsividad 600px */
@media (max-width: 600px) {
  .detalleForm {
    padding: 15px;
  }
  .grupoFormulario input,
  .grupoFormulario textarea {
    padding: 8px;
  }
  button {
    padding: 8px 12px;
  }
}
/* Botons */
.botones {
  display: flex;
  justify-content: space-evenly;
}
/* ////////////////////////// */
/* --------------------------------------------------------------------------------------------------------------- */

/* ---NavBar--- */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
}
.contNav {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  background-image: url(/src/Imagenes/LogoBrújula.png);
  width: 2.5rem;
  height: 2.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -22px;
}
.logo:hover {
  animation: rotate-scale-up 0.4s linear both;
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
h1 {
  color: var(--TituloH1);
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 2.6rem;
}
/* Imagen de fondo */
.backgroundImage {
  background-image: url('/src/Imagenes/Cuaderno.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
}
.menu {
  font-size: 1.4rem;
}
/* Responsividad 768px */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 5px;
  }
  .menu {
    font-size: 1.2rem;
    gap: 0.5rem;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    margin-bottom: -30px;
  }
  .menu li {
    margin-right: 2rem;
  }
  .logo {
    width: 2rem;
    height: 2rem;
  }
}
/* Responsividad 480px */
@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
    letter-spacing: 3px;
  }
  .menu {
    font-size: 1rem;
    gap: 0.5rem;
  }
  .logo {
    width: 1.5rem;
    height: 1.5rem;
  }
}
/* --------------------------------------------------------------------------------------------------------------- */

/* ---Meses del año--- */

.horizontal {
  background-color: var(--Secciones1);
  padding: 20px;
}
.meses12 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  max-width: 600px;
  background-color: var(--FondoBody);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
.mes {
  flex: 1 0 15%; /* Ajuste inicial para 6 columnas */
  display: flex;
  justify-content: center;
  margin: 5px 0;
}
.boxMes {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--Texto);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.boxMes {
  text-decoration: none;
  color: var(--TextoLink);
  transition: color 0.3s ease;
}
.boxMes:hover {
  background-color: var(--Texto);
  color: var(--Hover);
  cursor: pointer;
}
/* Responsividad 768px */
@media (max-width: 768px) {
  .mes {
    flex: 1 0 25%; /* Ajuste para 4 columnas */
  }
}
/* Responsividad 480px */
@media (max-width: 480px) {
  .mes {
    flex: 1 0 50%; /* Ajuste para 2 columnas */
  }
}
/* --------------------------------------------------------------------------------------------------------------- */

/* ---Días tabla--- */

table.TablaDias {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: var(--Secciones1);
  color: var(--Texto);
  border-radius: 10px;
  overflow: hidden;
}
table.TablaDias thead {
  background-color: var(--Secciones2);
}
table.TablaDias th,
table.TablaDias td {
  padding: 12px 15px;
  text-align: left;
}
table.TablaDias th {
  font-weight: bold;
  text-transform: uppercase;
}
table.TablaDias tbody tr:last-child td {
  border-bottom: none;
}
tr {
  transition: background-color 0.3s ease;
}
table.TablaDias tbody tr:hover {
  background-color: var(--Texto);
  color: var(--Hover);
}
@media (max-width: 600px) {
  table.TablaDias th,
  table.TablaDias td {
    padding: 8px 10px;
  }
}
.fecha {
  font-size: 0.7rem;
}

/* Estilo para el icono de la nota */
.note-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
/* Contenedor del tooltip */
.tooltip-container {
  position: relative;
  display: inline-block;
}
/* Texto del tooltip */
.tooltip-text {
  visibility: hidden;
  width: 230px; /* Ancho del tooltip */
  background-color: var(--FondoBody);
  color: var(--Texto);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -200px; /* La mitad del ancho del tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
/* Flecha del tooltip */
.tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%; /* En la parte inferior del tooltip */
  left: 82%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}
/* Mostrar el tooltip al pasar el mouse sobre el contenedor */
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
/* --------------------------------------------------------------------------------------------------------------- */

/* ---Agendar Pedido--- */

.detalleForm {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--Secciones1);
  border-radius: 10px;
  box-sizing: border-box;
  color: var(--Texto);
}
.grupoFormulario {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.grupoFormulario label {
  margin-bottom: 5px;
}
.grupoFormulario input,
.grupoFormulario textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
.grupoFormulario textarea {
  resize: vertical;
}
input:focus {
  border: 1px solid var(--Hover);
}
textarea:focus {
  border: 1px solid var(--Hover);
}
/* Usuarios */
.grupoFormulario {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.grupoFormulario label {
  margin-bottom: 5px;
  font-size: 1rem;
  color: var(--Texto);
}
.grupoFormulario select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--Secciones2);
  background-color: var(--Secciones1);
  color: var(--Texto);
  font-size: 1rem;
  outline: none;
  box-sizing: border-box;
}
.grupoFormulario select:focus {
  border: 1px solid var(--Hover);
}
/* --------------------------------------------------------------------------------------------------------------- */

/* ---Agendar Usuarios--- */

.contenedorUsuarios {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--Secciones1);
  padding: 20px;
  padding-bottom: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
}
.inputUsuarios {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
input[type='text'] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid var(--Texto);
  border-radius: 5px;
}
.listaUsuarios {
  list-style-type: none;
  padding: 0;
}
.usuario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--FondoBody);
  color: var(--Texto);
  border-radius: 5px;
}
.borrarUsuario {
  background-color: var(--Hover);
  color: var(--Texto);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}
.borrarUsuario:hover {
  background-color: var(--Texto);
}
.perfil {
  align-items: center;
}
/* --------------------------------------------------------------------------------------------------------------- */

/* ---Modal--- */

.tituloModal {
  margin-top: -15px;
}
.modal {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  min-height: 100vh;
  padding-top: 15rem;
  background-color: var(--FondoModal);
  display: none;
}
.modal.is-open {
  display: block;
}
/* Boton de modal = Detalle del Día */
.botonDetalle {
  margin-top: 20px;
}
/* --------------------------------------------------------------------------------------------------------------- */

/* ---Selector de usuarios--- */

.selectorIzq {
  display: flex;
  justify-content: flex-start;
}
.grupoFormulario {
  margin-bottom: 5px;
  margin-top: 7px;
  color: var(--Texto);
  font-weight: bold;
}
.grupoFormulario select {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--TextoLink);
  color: var(--Texto);
  font-size: 1rem;
  cursor: pointer;
  text-align-last: center;
  transition: all 0.3s ease;
}
.grupoFormulario select:hover {
  background-color: var(--TituloH1);
}
/* Responsividad */
@media (max-width: 600px) {
  .selectorIzq {
    flex-direction: column;
    align-items: flex-start;
  }

  .grupoFormulario select {
    width: 100%;
    font-size: 1rem;
    text-align-last: left;
  }
}
/* --------------------------------------------------------------------------------------------------------------- */

/* ---footer--- */

.footer {
  background-color: var(--Secciones1);
  color: var(--Texto);
  padding: 20px 0;
  margin-top: 250px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer p {
  margin: 0;
  margin-left: 10px;
}
.social-icons {
  display: flex;
  gap: 10px;
}
.social-icon {
  color: var(--Texto);
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}
.social-icon:hover {
  color: var(--Texto);
}
.social-icons {
  display: flex;
  gap: 10px;
}
.social-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-size: cover;
  transition: transform 0.3s;
}
.linkedin {
  background-image: url('/src/Imagenes/LinkedIn_1.png');
  border-radius: 10px;
}
.github {
  background-image: url('/src/Imagenes/GitHub_0.png');
  border-radius: 10px;
}
.social-icon:hover {
  transform: scale(1.2);
}
/* --------------------------------------------------------------------------------------------------------------- */
